.OutterContainer {
    height: 100vh;
    width: 100vw;



}

.InnerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.Container {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 82%;
    width: 38%;
}

@media(max-width:850px) {
    .Container {
        background-color: transparent;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 60px;
        height: 89%;
        width: 75%;
    }
}