.CityContainer {


    position: relative;

}


.Selfie {
    height: 360px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.HeadShot {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.CardContainer {
    margin-top: -20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    gap: 15px;
    position: relative;


}

@media(max-width:850px) {
    .CardContainer {
        margin-top: -10px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-items: center;
        gap: 15px;
        position: relative;

    }
}